/*Haut de page*/
.wrapper{

    display: grid;
  
  }
  
  /* ------------------------- */
  
  section {
      padding: 2em 1em;
  }
  

html,body {
    margin: 0;
    padding: 0;
}
#header {
    background-color: #334039;
}
.logo{
    width: 20%;
    padding-left: 40%;
}
#menu{
    display: center;
    padding-right: 50%;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffff ;
}
.presentation{
    text-align: center;
}
.h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:#334039 ;
}
.titre1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #334039;
}
.titre2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#45593F;
}
.presentationlivre{
    background-color: #F2F0E4;
}

.livre{
    padding-left: 38.5%;
    width: 25%;
}
.synopsis{
   text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #A64C44;
}p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.paragraphe{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #334039;
    padding-left: 65%;
}
.paragraphe2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: black;
    padding-left: 60%; 
}
